@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <p>DEHA Projects.</p>

    <div class="mt-5">
        <p class="text-center">Project created by MinhTV</p>
    </div>
</div>
