@{
    ViewData["Title"] = "Access Denied";
}

<div class="text-center">
    <h1 class="text-danger display-4">Access Denied</h1>
    <p class="lead">You do not have permission to access this resource.</p>
    <div class="mt-4">
        <img src="~/images/access-denied.png" alt="Access Denied" class="img-fluid" style="max-width: 300px;" />
    </div>
    <div class="mt-4">
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Return to Home</a>
    </div>
</div> 